<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="h63xtNzB2lPdUWJQuarTUFRI-4cuaBkepZGUMW11GCw" />
    {{ with resources.Get "css/bulma.css" }}
    <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
    {{ $options := (dict "transpiler" "dartsass" "targetPath" "css/style.css") }}
    {{ with resources.Get "css/custom.scss" | toCSS $options | minify }}
    <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
    <title>{{ .Site.Title }}</title>
</head>