
// bulma のオーバーライド
a:hover {
    text-decoration: underline;
}

.footer {
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;

    /*　範囲選択を禁止する*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.post-box-tag {
    font-size: 0.9rem;
}

/*============================================
タグ
============================================*/
html {
    scroll-behavior: smooth;
    height: 100%;
}

header {
    padding-top : 1%;
    padding-bottom : 1%;
}

div {
    display: block;
    unicode-bidi: isolate;
    padding-top : 5px;
    padding-bottom : 5px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid #3333;
    border-color: gray;
    padding : 10px;
}

td {
    border: 1px solid #3333;
    border-color: gray;
    padding : 10px;
}

#main {
    flex: 1;
}

/*============================================
ヘッダ
============================================*/
.header-title {
    font-size : 1.2rem;
    font-weight: bold;
    text-align: center;
}

.header-container {
    margin: 0 auto;
    width: 100%;
}

/*============================================
グローバルナビ
============================================*/

#global-navi-bg {
    margin: auto;
    padding: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #1D0707;
    background-position: left center;
    line-height: 1.125rem;
    height : 36px;
}

ul#global-navi {
    display: table;
    margin: auto;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

ul#global-navi li {
    margin: 0;
    padding: 0;
    display: table-cell;
    width: 160px;
}

ul#global-navi li a {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 9px 20px;
    display: block;
    position: relative;
    color: #eee;
    font-size: 18px;
    background-position: left center;
    text-decoration: none;
    height: 36px;
}

ul#global-navi li a:hover,
ul#global-navi li.current a {
    color: #333;
    background-color: #eee;
    background-position: left center;
}

ul#global-navi li a#navi-item {
	font-size: 14px;
	font-weight: bold;
}
/*============================================
TOPページ
============================================*/
.trophy-card {
    text-align: center;
}

/*============================================
情報欄
============================================*/
.infomation-head {
    font-size: x-large;
    font-weight : bold;
    text-align: center;
    margin-bottom : 1%;
}

.infotable {
    width : 100%;
    height : 900px;
    background-color: #fff;
    font-size: 0.9rem;
    border : 1px solid #000;
    display : block;
    overflow-y: scroll;
}

/*============================================
タイトル別ページ本文
============================================*/
.page-contents-date {
    width : 15%;
}

.page-contents-title {
    font-size : 2.5rem;
    font-weight: bold;
    margin-top : 10px;
}

.page-contents-body {
    background-color : #fff;
    margin-top : 10px;
    padding : 3% 5%;
    border-radius: 10px;
}

/*============================================
ページトップに戻るボタン
============================================*/
.page-top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #000;
    opacity: 0.6;
    border-radius: 50%;
    z-index: 2;
}

.page-top::before {
    content: "↑";
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

/*============================================
Markdownでも使うもの
============================================*/
.indent {
    padding-left: 1rem;
}

.deco_background_blue {
    color: #fff; /* 白文字 */
    background-color: #596679; /* 青背景 */
    padding: 0.1em 0.2em 0.1em 0.2em;
}

.deco_background_red {
    color: #fff; /* 白文字 */
    background-color: #ee6666; /* 赤背景 */
    padding: 0.1em 0.2em 0.1em 0.2em;
}

.deco_background_black {
    color: #fff; /* 白文字 */
    background-color: #000; /* 黒背景 */
    padding: 0.1em 0.2em 0.1em 0.2em;
}