<div class="side_column_area">
    <div>
        <div>
            <details>
                <summary class="side_column_area_head">記事カテゴリ一覧</summary>
                {{ range .Site.Sections }}
                <details>
                    {{ $section_name := strings.ToLower .Title }}
                    <summary><a class="side_column_category" href="{{ path.Join $section_name "/index.html" | absURL }}">{{ .Title }}</a></summary>
                    {{ range where .Site.RegularPages "Section" $section_name }}
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a><br />
                    {{ end }}
                </details>
                {{ end }}
            </details>
        </div>
    </div>
</div>