            <div id="top_side_column_area">
                <details>
                    <summary id="top_side_column_area_head">記事カテゴリ一覧</summary>
                    {{ range .Site.Sections }}<!--全セクション(content内のフォルダごとのまとまりのこと)をループで回す-->
                    <details>
                        {{ $section_name := strings.ToLower .Title }}<!--セクション名を小文字で取得する(ビルド先のpublicフォルダには全て小文字で入れられる)-->
                        <!--カテゴリ一覧にはルートindex.htmlからの絶対パスでリンク指定-->
                        <summary style="padding-left: 1rem"><a id="top_side_column_category" href="{{ path.Join $section_name "/index.html" | absURL }}">{{ .Title }}</a></summary>
                        {{ range where .Site.RegularPages "Section" $section_name }}
                            <a href="{{ .RelPermalink }}" style="padding-left: 2rem">{{ .Title }}</a><br />
                        {{ end }}
                    </details>
                    <br />
                    {{ end }}
                </details>
            </div>